ul{
    list-style: circle;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

li{
    text-align: left;
    padding: 15px;
    width: 600px;
    margin:2px auto;
    display: block;
    border: 1px black;
    background-color: rgb(255, 248, 232);
    border-style: groove;
    border-radius: 5px;
}

body{
    background-color: #ffe9ba;
    background-image: url("/images/fondo_formulario.png");
    background-size: cover;
}

header{
    text-align: center;
    padding: 15px;
    width: 650px;
    margin: 40px auto;
    display: block;
    background-color: rgb(255, 248, 232);
    border: 1px black;
    border-style: groove;
    border-radius: 5px;
}

#submit {
    display: block;
    margin: 0 auto;
    block-size: 50px;
}

footer{
    text-align: center;
}

.goback{
    text-align: left;
    display: block;
    margin-left: 25px;
}

.enlaces_enviado{
    display: inline-flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none;
    margin: 20px;
}

.img_enlaces{
    border: 3px solid black;
    border-style: groove;
    border-radius: 10px;
}