ul{
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin: 0;
}

li{
    text-align: left;
    padding: 15px;
    width: 600px;
    margin:2px auto;
    display: block;
    border: 1px black;
    background-color: rgb(255, 248, 232);
    border-style: groove;
    border-radius: 5px;
}

body{
    background-color: #ffe9ba;
    background-size: cover;
}

header{
    text-align: center;
    padding: 15px;
    width: 650px;
    margin: 40px auto;
    display: block;
    background-color: rgb(255, 248, 232);
    border: 1px black;
    border-style: groove;
    border-radius: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.header h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
}

.input {
    width: 98%;
}

.submit {
    display: block;
    margin: 0 auto;
    block-size: 50px;
}

.goback{
    z-index: 1;
}

.goback img{
    position: relative;
    top: -15px;
}
    
.enlaces_enviado{
    display: inline-flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none;
    margin: 20px;
}

.img_enlaces{
    border: 3px solid black;
    border-style: groove;
    border-radius: 10px;
}

@media (max-width: 768px) {
    li {
        max-width: 90%;
    }
    header{
        max-width: 95%;
    }
    textarea{
        max-width: 100%;
    }
    input{
        max-width: 100%;
    }
}