#map {
    position: absolute; top: 0px; left: 0px;
    height: 100%;
    width: 100%;
}

.panel_informacion {
    z-index: 1000;
    position: absolute; bottom: 90px; right: 20px;
    width: 50px; height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    visibility: hidden;
}

.boton_info {
    z-index: 1000;
    position: absolute; bottom: 90px; right: 20px;
    width: 50px; height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_boton_informacion {
    width: 50px; height: 50px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
    cursor: pointer;
}

.boton_github {
    width: 50px; height: 50px;
    position: absolute; top: 0px; left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_discord {
    width: 50px; height: 50px;
    position: absolute; top: 50px; left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_pagina_informacion {
    width: 50px; height: 50px;
    position: absolute; top: 100px; left: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_cerrar_panel {
    width: 50px; height: 50px;
    position: absolute; top: 150px; left: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.leyenda {
    z-index: 999;
    position: absolute; bottom: 30px; left: 20px;
    width: 280px; height: 200px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cerrar_leyenda {
    z-index: 1000;
    position: absolute; bottom: 215px; left: 285px;
    width: 30px; height: 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.boton_cerrar_leyenda {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: none;
    cursor: pointer;
}

.abrir_leyenda {
    z-index: 1000;
    position: absolute; bottom: 30px; left: 20px;
    width: 50px; height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
}

.boton_abrir_leyenda {
    width: 50px; height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
}

.agregar_piano {
    z-index: 1000;
    width: 50px; height: 50px;
    position: absolute; bottom: 30px; right: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

.enlace_agregar_piano {
    width: 50px; height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.enlace_agregar_piano img {
    margin: auto;
    display: block;
}

.iconos_filtro {
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.hr_faq {
    height: 4px;
    background-color: black;
    border: none;
}

.card{
   width: 100px;
   margin: 40px auto;
   display: flex;
   flex-direction: column;
   position: absolute; bottom: 30px; right: 220px;
   visibility: hidden;
   }

.globo{
   border-radius: 25px;
      padding: 12px;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
   padding: 10px;
   position: relative;
   width: 200px;
   margin: 0 auto;
   font-family: sans-serif;
   z-index: 1000;
   }

.globo::after {
   content: '';
   position: absolute;
   bottom: 0; 
   left: 160px;
   background: transparent;
   width: 0px; height: 0px;
   border-bottom: 40px solid rgb(255, 255, 255);
   border-right: 40px solid transparent;
   border-left: 40px solid transparent;
   transform: rotate(10deg);
   z-index: -1;
   }
.imagen {
   width: 141px;
   border-radius: 50%;
   border: 8px double #f5e8e8;
   width: 100px;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 2px;
    background-color: rgb(118, 118, 118);
    border: none;
}

td {
    padding-left: 10px;
    font-size: 14px;
}