<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Public Pianos FaQ</title>
</head>
<body>
    <h1>Welcome to FaQ about PublicPianos.org</h1>
    <hr>
    <h2>Who is behind PublicPianos.org?</h2>
    <p>The original creator of the page is <a href="https://github.com/ElJugaZrc">ElJugaZrc</a>, but the page is uploaded to <a href="https://github.com/ElJugaZrc/public-pianos-web">github</a> so anyone can request any change. In summary, there is not a single person or a company, anyone can work in this page.</p>
    <h2>How can i submit a piano to the page?</h2>
    <p>Anyone can submit a public piano by joining the <a href="https://discord.gg/WNYe33NB3g">discord server</a>. To submit a piano you will need to send a google maps link and a photo or video of the piano. Also, you should add a description of it so we can know the conditios of the piano. You will find more information in the discord server. We use discord so we can prove that the piano is real and to avoid ddos.</p>
    <h2>Why did I decide to make PublicPianos.org?</h2>
    <p>I decided to create PunlicPianos.org because I play the piano and sometimes I wander if there was a page in which I could see if there were a piano somewhere near me. I couldnt find one so i decided to create my own. Also, i wanted to learn coding so i made this as my first project.</p>
    <h2>Why do you use OpenStreetMap and not google maps?</h2>
    <p>We use OpenStreetMap cause is free. I dont have a lot of money so didnt wanted to risk and use google maps API. So i decided to use <a href="https://leafletjs.com/">Leaflet</a> and <a href="https://www.openstreetmap.org/">OpenStreetMap.</a></p>
    <h2>Why is the page so simple?</h2>
    <p>At the moment in which im making this website, i dont know a lot about coding and this is my first project, so im making preaty only the important parts.</p>
</body>
</html>