<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Public Pianos FaQ</title>
</head>
<body>
    <h1>Bienvenido a la página de preguntas frecuentes de PublicPianos.org</h1>
    <hr>
    <p>Antes de todo quería agradecer fuertemente a la gente que ha hecho posible este proyecto, que son los creadores de <a href="https://leafletjs.com/">Leaflet</a>, los creadores de <a href="https://www.openstreetmap.org/">OpenStreetMap.</a> y a los creadores de los <a href="https://github.com/pointhi/leaflet-color-markers?tab=readme-ov-file">iconos personalizados de Leaflet</a>. Sin ellos este proyecto no podría haber sido posible tal y com lo es. Larga vida al código libre.</p>
    <h2>¿Quién está detrás de PublicPianos.org?</h2>
    <p>El creador original de esta página es <a href="https://github.com/ElJugaZrc">ElJugaZrc</a>, pero cualquiera puede editar la página mandando una solicitud de cambio al <a href="https://github.com/ElJugaZrc/public-pianos-web">github</a>.</p>
    <h2>¿Cómo puedo subir un piano a la base de datos?</h2>
    <p>Cualquiera puede subir un piano mediante el <a href="https://discord.gg/WNYe33NB3g">servidor de discord</a>. Para subir el piano deberás mandar un link de google maps que indique donde se encuentra el piano, una foto/vídeo para corroborar su existencia, y otro datos como las condiciones del piano y como se accede a él. Esto se hace para verificar que los pianos existen y evitar a los trolls y ataques de bots. Puedes encontrar más información en el discord.</p>
    <h2>¿Hay alguna forma de apoyar económicamente al proyecto?</h2>
    <p>PublicPianos.org es un proyecto sin animo de lucro. Sin embargo, se aceptan donaciones para poder pagar el host de la página.</p>
    <h2>¿Por qué se usa OpenStreetMap y no Google Maps?</h2>
    <p>El motivo principal es que la API de google maps cuesta dinero, y me arriesgaba a quedarme pobre si lo usaba y la página se hacía conocida. Por eso decidí usar <a href="https://leafletjs.com/">Leaflet</a> y <a href="https://www.openstreetmap.org/">OpenStreetMap.</a>, que son gratuitos y de código abierto.</p>
    <h2>¿Por qué la página es tan simple?</h2>
    <p>Este es mi primer proyecto de programación y todavía no tengo mucha idea, así que solo estoy "decorando" las partes que son más importantes. Por eso he decidido dejar esta página solo con HTML. Puede que cambie en un futuro.</p>
    <h2>¿Se tiene en mente cambiar el sistema para subir pianos a la web?</h2>
    <p>Si. El sistema de discord, aunque es funcional, es un poco cutre. Así que estaría bien cambiarlo en un futuro.</p>
    <h2>¿Por qué decidí crear PublicPianos.org?</h2>
    <p>Decidí crear esta página ya que yo toco el piano y a veces me preguntaba si existiría alguna página para encontrar pianos por ahí. No llegue a encontrar una que fuera 100% funcional así que decidí crear PublicPianos.org como mi primer proyecto de programación antes de entrar en la universidad.</p>
</body>
</html>